.home_container {
    height: 100vh;
    display: flex;
}

.loading_container {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100vh;
}

.loading_gif {
    width: 200px;
}

.gif_container {
    display: flex;
    width: 100%;
    height: 90vh;
    justify-content: center;
    align-items: center;
}