.home-container {
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
}

.loading-container {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100vh;
}

.loading-gif {
    width: 200px;
}

.gif-container {
    display: flex;
    width: 100%;
    height: 90vh;
    justify-content: center;
    align-items: center;
}

.home-board {
    width: 100%;
}

.test-board {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.test-board-label {
    font-size: 0.8rem;
}

.test-board-result {
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-direction: column;
}

.test-board-value {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
    width: 250px;
}

.test-board-value-label {
    display: flex;
    justify-content: flex-start;
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.4);
}

.test-board-result h1 {
    font-size: 4.5rem;
    font-weight: 300;
}

.test-board-result span {
    color: rgba(0, 0, 0, 0.5);
}

.test-board-button {
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    padding: 1rem;
}

.test-board-status {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.test-board-status-label {
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.5);
}

.status-label-color {
    color: black;
}

.test-board-progress {
    display: flex;
    flex-direction: column;
}

.test-board-progress-node {
    padding: 1rem;
    width: 100%;
    margin-right: 15rem;
    display: flex;
    flex-direction: column;
    color: rgba(0, 0, 0, 0.8);
}

.test-board-progress-bar {
    height: 1.2rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: 0.2rem;
}

.result-board {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 1rem;
}

.result-board-panel {
    width: 50%;
    padding: 1rem;
    max-width: 550px;
}